body {
    font-size: large;
    background-image: url(../loginAndReg/cinema.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(48, 65, 93, 0.5);
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.confMsg {
    background-color: rgba(255, 255, 255, 0.415);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    text-align: center;
    line-height: 10px;
}