.funLogo {
	display:flex;
	justify-content: center;
}

html 
{
 overflow: auto;
}

html, body, div, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
}

.form-control {
    border-radius: 10px;
}

h1 {
    margin-top: 90px;
    text-align: center;
	padding: 5px;
}

.hero-container {
	margin: auto;
    margin-top: 20vh;
	display: flex;  
	padding-bottom:15px; 
	display: flex;
	flex-wrap: wrap;
	padding-left: 3vw;
}

.first {
	margin-top: 10vh;
}

h1 {
	padding-top:10px;
}

#soon {
	padding-top:30vh;
}

.main-container {
	height: 540px;
	position: relative;
	margin: 0 20px;
	flex: 0 0 21%; 
}


.space {
	height: 75px;
}

iframe 
{
 z-index:1;
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}


.is-hidden { display: none; }


.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #30415D;
	color: #EDEDED;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
    margin: 5px;
    width: 200px;
}

.logout-text {
	padding-top: 100px;
}
