.card-div {
    margin-top: 7%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    margin-top: 4%;
    display: inline-block;
}

.nav-confirm-btn {       
    display: block;
    padding: .5rem 1rem;
    color: darkslategray;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-confirm-btn:hover {
    color: gray;
}