body {
    background-color: #30415D;
    color: black;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    left: 0;
    background-color: #8EAEBD;
}
  
.right {
    right: 0;
    background-color: #30415D;
}

.nav-buttons {
    position: absolute;
    top: 10%;
    left: 2%;
    right: 77%;
    text-align: center;
}

.content {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.admin-button {
    background-color: #30415D ; 
    display: block; 
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
}

.admin-button:hover {
    background-color: #CF6766;
}

.movie-container {
    position: relative;
    height: 300px;
}

.edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
}

img {
    background-size: cover;
    height: 300px;
}

img:hover {
    background-color: #000;
}
