.card-div {
    margin-top: 7%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    margin-top: 4%;
    display: inline-block;
}

.nav-confirm-btn {       
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.nav-confirm-btn:hover {
    color: gray;
}

input {
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    color: white;
    background-color: rgba(240, 248, 255, 0);
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}