.showtime-buttons {
    text-align: center;
}

.time-buttons {
    background-color: #8EAEBD;
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 5px;
}

.time-buttons:hover {
    background-color: #031424;
}

.showtime-dates {
    text-align: center;
}

ol {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
li {
    display: inline-block;
}
  
input[type="checkbox"] {
   display: none;
}

.chair-img {
    width: 3vw;
}

.theater-seats {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.theater {
    position: relative;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    padding-bottom: 25px;
    border-bottom: solid;
}

.top-seats {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    justify-content: center;
    text-align: center;
}

.select-container {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding: 50px 50px 50px 50px;
}

input[type="checkbox"] {
    content: url('chair.png');
    appearance: none;
    display: block;
    width: 4vw;
}

input[type="checkbox"]:checked {
    content: url('selectedChair.png');
}
  
.checkout-button {
    background-color:#8EAEBD;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px;    
}

.screen {
    text-align: center;
}
