body {
    background-color: #30415D;
    color: black;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: #30415D;
    top: 10%;
}

.nav-buttons {
    position: relative;
    top: 20%;
    left: 2%;
    right: 77%;
    width: 20%;
    text-align: center;
}

.content {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 0px 50px 50px 50px;
    border-radius: 7px;
    width: 50%;
}

.admin-button {
    background-color: #30415D ; 
    display: block; 
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
}

.admin-button:hover {
    background-color: #8EAEBD;
}

.add-button {
    background-color:#30415D;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.add-button:hover {
    background-color: #8EAEBD;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text-forms {
    width: 90%;
    display: block;
    text-align: center;
}
