body {
    background-color: #30415D;
    color: black;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    left: 0;
    background-color: #8EAEBD;
}
  
.right {
    right: 0;
    background-color: #30415D;
}

.nav-buttons {
    position: absolute;
    top: 10%;
    left: 2%;
    right: 77%;
    text-align: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   /* background-color: white; */
    padding: 100px 100px;
    border-radius: 7px;
}

.admin-button {
    background-color: #30415D ; 
    display: block; 
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
}

.admin-button:hover {
    background-color: #CF6766;
}

.add-button {
    background-color:#8EAEBD;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}

.add-button:hover {
    background-color: #CF6766;
}

.fancy-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left:auto; 
    margin-right:auto;
}

.fancy-table thead tr {
    background-color: #8EAEBD;
    color: #ffffff;
    text-align: center;
}

.fancy-table th,
.fancy-table td {
    padding: 12px 15px;
}

.fancy-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.fancy-table tbody tr:nth-of-type(even) {
    background-color: #f3f4f2;
}

.fancy-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

