body {
    background-color: #30415D;
    color: black;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    left: 0;
    background-color: white;
}
  
.right {
    right: 0;
    background-color: #30415D;
}

.nav-buttons {
    position: relative;
    top: 20%;
    left: 2%;
    right: 77%;
    width: 20%;
    text-align: center;
}

.content {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.admin-button {
    background-color: #30415D ; 
    display: block; 
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 20px;
}

.admin-button:hover {
    background-color: #8EAEBD;
}

.movie-container {
    position: relative;
    height: 300px;
}

.edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
}

.ticket-container {
	height: 425px;
}

.add-movie {
    background-color: #031424 ;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px;
    transform: translate(-50%, -50%);
}

.add-movie:hover {
    background-color: #8EAEBD;
}